# Cleaning the Data

In [ ]:
# Lineplot Medals won
plt.figure(figsize=(64,4)) # this creates a figure 8 inch wide, 4 inch high
ax = sns.barplot(x="NOC", y="ID", data=df_medals_per_noc)
ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha="right", fontsize=10)

plt.legend(title='Overview of Medals won per NOC', loc='upper left', labels=['Amount of Medals'])
plt.tight_layout()
plt.grid(axis='x')

plt.show()

In [ ]:
### Substitute the NaN's which the string "NoMedalWon"
df_medal_not_won = df_medal_not_won.fillna('NoMedalWon')
df_medal_not_won

In [ ]:
### ~Convert 'Age' from Float64 to Int64
df_athlete_events['Age'] = df_athlete_events['Age'].astype('Int64')
df_athlete_events.head()

In [ ]:
### Substitute the NaN's in the column 'Medal' with the string "NoMedalWon"
#df_medal_not_won = df_medal_not_won.fillna('NoMedalWon')
#df_medal_not_won
df_athlete_events.Medal = df_athlete_events.Medalfillna('NoMedalWon')
df_athlete_events

In [ ]:
### ~Convert 'Age' from Float64 to Int64
df_athlete_events['Age'] = df_athlete_events['Age'].astype('Int64')

# Substitute the NaN's which the string "NoAgeProvided" - if there are any NaN's
df_athlete_events = df_athlete_events.fillna('NoMedalWon') 
df_athlete_events.head()

In [ ]:
##### Column 'Age'
### ~Convert 'Age' from Float64 to Int64
df_athlete_events['Age'] = df_athlete_events['Age'].astype('Int64')

# Substitute the NaN's with 99999 - if there are any NaN's
df_athlete_events.Age = df_athlete_events.Age.fillna(99999)

##### Column 'Height'
# Substitute the NaN's with 0 if there are any NaN's
df_athlete_events.Height = df_athlete_events.Age.fillna(0)
# ~Convert 'Height' from Float64 to Int64
df_athlete_events['Height'] = df_athlete_events['Height'].astype('Int64')

##### Column 'Weight'
### ~Convert 'Weight' from Float64 to Int64
#df_athlete_events['Weight'] = df_athlete_events['Weight'].astype('Int64')

df_athlete_events.head()

In [ ]:
##### Column 'Weight'
# ~Convert 'Weight' from Float64 to Int64
df_athlete_events['Weight'] = df_athlete_events['Weight'].astype('Int64')

# Substitute the NaN's with 99999 if there are any NaN's
df_athlete_events.Weight = df_athlete_events.Weight.fillna(99999)

In [ ]:
#dummy3 = df_athlete_events.groupby(by="Medal").count()
dummy3 = df_athlete_events.groupby(by="Medal").value_counts()
dummy3